.advantages__list {
  @include reset-list;

  max-width: 749px;
  width: auto;
  margin-right: 15px;
}

.advantages__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 26px;
}

.advantages__guarantee-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.05em;
  margin: 0 0 11px;
}

.advantages__text {
  letter-spacing: 0.05em;
  margin: 0;
}

.advantages__guarantee-icon {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid $border-grey;
  background-color: transparent;
  flex-shrink: 0;
  margin-right: 22px;
}

.advantages__item {
  display: flex;
}

.advantages__item:not(:last-child) {
  margin-bottom: 22px;
}

.advantages__form {
  max-width: 376px;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  padding: 42px 35px 47px 32px;
  background-color: $white;
  margin: -160px 0 40px;
  height: 453px;
}

.advantages__form-title,
.advantages__form-slogan {
  letter-spacing: 0.05em;
  text-align: center;
}

.advantages__form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  margin: 0 0 4px 0;
}

.advantages__form-slogan {
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 29px;
}

.advantages__wrapper {
  display: flex;
}

.advantages__container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px 0 45px;
}

.advantages__mob-title {
  display: none;
}

@media (max-width: 767px) {
  .advantages__wrapper {
    flex-direction: column;
    position: relative;
  }

  .advantages__list {
    margin-right: 0;
    order: 1;
  }

  .advantages__container {
    padding: 0 4.68% 34px 5%;
  }

  .advantages__form {
    margin: 0;
    order: -1;
    max-width: 100%;
    padding: 27px 5.19% 32px;
    position: absolute;
    top: -98px;
    right: 0;
    height: auto;
  }

  .advantages__title {
    display: none;
  }

  .advantages__guarantee-icon {
    margin-right: 15px;
    width: 44px;
    height: 44px;
  }

  .advantages__mob-title {
    display: block;
    font-size: 21px;
    line-height: 25px;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
    order: 0;
    margin-top: 376px;
    margin-bottom: 28px;
  }

  .advantages__form-slogan {
    font-size: 15px;
    margin-bottom: 23px;
  }

  .advantages__item:not(:last-child) {
    margin-bottom: 19px;
  }
}
