.contacts__wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  flex-wrap: wrap;
}

.contacts__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 28px;

  &--phone {
    margin-right: 7.35%;
  }

  &--address {
    max-width: 331px;
    margin-right: 4.44%;
  }

  &--mail {
    margin-right: 7.1%;
  }

  &--working-time {
    max-width: 255px;
  }
}

.contacts__label {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.05em;
  color: $red;
  margin-bottom: 14px;
}

.contacts__phone,
.contacts__address,
.contacts__mail,
.contacts__time {
  font-weight: 700;
  color: $black;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.05em;
  font-style: normal;
}

.contacts__phone:hover,
.contacts__mail:hover {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: $red-hover;
}

.contacts__phone:active,
.contacts__mail:active {
  text-shadow: none;
  opacity: 0.7;
}
