.form-call-order__item {
  margin: 0;
  margin-bottom: 26px;
  padding: 0;
  border: 0;
  text-align: center;
}

.form-call-order__input {
  border: 1px solid $border-grey;
  background-color: $grey;
  border-radius: 2px;
  width: 275px;
  padding: 12px 14px 11px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  color: $black;
}

.form-call-order__input::placeholder,
.form-call-order textarea::placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  color: $black;
}

.form-call-order__button {
  display: inline-block;
  vertical-align: top;
  border: none;
  padding: 13px 0 11px;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  font-size: 13px;
  line-height: 15px;
  font-weight: 700;
  letter-spacing: 0.05em;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  width: 275px;
  background-color: $red;
  margin: 0 auto;
}

.form-call-order {
  text-align: center;
}

.form-call-order textarea {
  border: 1px solid $border-grey;
  background-color: $grey;
  border-radius: 2px;
  width: 275px;
  padding: 12px 13px;
  resize: none;
}
