.form-call-order__item {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  border: 0;
  text-align: center;
}

.form-call-order__input {
  border: 1px solid $border-grey;
  background-color: $grey;
  border-radius: 2px;
  width: 275px;
  padding: 12px 14px 11px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  color: $black;
}

.form-call-order__input::placeholder,
.form-call-order textarea::placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  color: $black;
}

.form-call-order__button {
  display: inline-block;
  vertical-align: top;
  border: none;
  padding: 13px 0 11px;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  font-size: 13px;
  line-height: 15px;
  font-weight: 700;
  letter-spacing: 0.05em;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  width: 275px;
  background-color: $red;
  margin: 0 auto;
  outline: none;
}

.form-call-order__button:hover {
  background-color: $red-hover;
}

.form-call-order__button:active {
  background-color: $red;
  opacity: 0.7;
}

.form-call-order {
  text-align: center;
}

.form-call-order textarea {
  border: 1px solid $border-grey;
  background-color: $grey;
  border-radius: 2px;
  width: 275px;
  padding: 12px 13px;
  resize: none;
}

@media (max-width: 767px) {
  .form-call-order__input,
  .form-call-order textarea,
  .form-call-order__button {
    width: 100%;
    min-width: 259px;
  }

  .form-call-order__input {
    padding: 12px 11px 11px;
  }

  .form-call-order textarea {
    padding: 14px 11px;
  }

  .form-call-order__item:last-of-type {
    margin-bottom: 21px;
  }
}
