.page-footer {
  background-color: $footer-black;
  color: $footer-grey;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
}

.page-footer__wraper {
  max-width: 1200px;
  padding: 10px 15px 11px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.page-footer__link {
  color: $footer-grey;
}

.page-footer__link:hover {
  text-decoration: underline;
}

.page-footer__link:active {
  color: $grey;
  opacity: 0.7;
}
