.page-header {
  background-color: rgba(0, 0, 0, 0.4);
  color: $white;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.page-header__logo-link {
  text-transform: uppercase;
}

.page-header__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 3px;
}

.page-header__title-info {
  font-size: 13px;
  line-height: 15px;
  text-transform: none;
}

.page-header__wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 14px 0.8% 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.page-header__phone-number {
  color: $white;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
}

.page-header__container {
  display: flex;
  justify-content: space-between;
  max-width: 819px;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
}

.page-header__call-block {
  display: flex;
  max-width: 256px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.page-header__call-order {
  color: $white;
  text-decoration: underline;
  line-height: 19px;
  font-weight: 700;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.page-header__call-order:hover,
.page-header__phone-number:hover {
  color: $red-hover;
}

.page-header__call-order:active,
.page-header__phone-number:active {
  opacity: 0.7;
}

.page-header__toggle {
  display: none;
}

@media (max-width: 767px) {
  .page-header__toggle {
    display: block;
    width: 21px;
    height: 19px;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
  }

  .page-header__menu-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  .page-header__toggle:hover .page-header__close-toggle {
    background-color: $red-hover;
  }

  .page-header__toggle:active .page-header__close-toggle {
    opacity: 0.7;
  }

  .page-header__toggle:hover .page-header__close-toggle::before,
  .page-header__toggle:hover .page-header__close-toggle::after {
    background-color: $red-hover;
  }

  .page-header__wrapper {
    padding: 9px 4.69% 12px;
  }

  .page-header__close-toggle::before,
  .page-header__close-toggle::after {
    width: 21px;
    height: 2px;
    content: "";
    position: absolute;
    background-color: $white;
    right: 0;
  }

  .page-header__close-toggle {
    display: block;
    width: 21px;
    height: 2px;
    position: relative;
  }

  .page-header {
    max-width: 767px;

    &--menu-closed {
      .page-header__container {
        display: none;
      }

      .page-header__close-toggle {
        background-color: $white;
      }

      .page-header__close-toggle::before {
        top: -7px;
      }

      .page-header__close-toggle::after {
        bottom: -7px;
      }
    }

    &--menu-opened {
      flex-direction: column;
      justify-content: flex-start;

      .page-header__container {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: normal;
      }

      .page-header__nav {
        flex-direction: column;
      }

      .page-header__close-toggle {
        background-color: transparent;
      }

      .page-header__close-toggle::before {
        transform: rotate(45deg);
      }

      .page-header__close-toggle::after {
        transform: rotate(-45deg);
      }

      .page-header__wrapper {
        position: absolute;
        background-image: linear-gradient(163.84deg, #0f3308 -68.98%, #071409 75.12%, #141a0d 132.97%);
        height: 100vh;
        align-items: normal;
        flex-direction: column;
        justify-content: flex-start;
      }

      .page-header__toggle:hover .page-header__close-toggle {
        background-color: transparent;
      }

      .main-nav__list {
        flex-direction: column;
        margin-right: 0;
        text-align: center;
        width: 100%;
      }

      .page-header__call-block {
        max-width: 100%;
        padding-top: 20px;
      }

      .main-nav__item {
        padding: 22px 0;
        border-bottom: 1px solid $border-grey;
      }
    }
  }
}
