.partners__title {
  font-size: 22px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin: 0 0 29px 27px;
}

.partners__wrapper {
  max-width: 1200px;
  padding: 0 12px;
  margin: 0 auto;
  width: 100%;
}

.partners__list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
}

.partners__link {
  display: block;
  height: 105px;
}

.partners__link:hover {
  filter: grayscale(100%);
}

.partners__link:active {
  filter: grayscale(100%);
  opacity: 0.7;
}

.partners {
  padding-bottom: 46px;
}

@media (max-width: 767px) {
  .partners__title {
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    margin-left: 0;
  }

  .partners {
    padding: 38px 4.68% 41px;
  }

  .partners__logo {
    width: 97px;
    height: 59px;
    filter: grayscale(100%);
  }

  .partners__item .partners__logo:hover {
    filter: none;
  }

  .partners__link {
    height: 59px;
  }

  .partners__wrapper {
    padding: 0;
  }
}
