.promotion__title {
  margin: 0;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  font-weight: 700;
}

.promotion {
  color: $white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.45);
  background-image: url("../img/backgrounds/promotion-bg@1x.jpg");
  background-size: cover;
  background-position: center 0;
  margin-bottom: 44px;

  height: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/backgrounds/promotion-bg@2x.jpg");
  }
}

.promotion__wrapper {
  padding: 183px 0 111px;
}

.promotion__title-first-part {
  font-size: 18px;
  letter-spacing: 0.05em;
  margin-bottom: 17px;
}

.promotion__title-second-part {
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.08em;
  margin-bottom: 17px;
}

.promotion__button {
  display: inline-block;
  vertical-align: top;
  width: 165px;
  color: $white;
  border: 2px solid $white;
  padding: 13px 0 11px;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  border-radius: 2px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  outline: none;
}

.promotion__button:hover {
  color: $red-hover;
  border-color: $red-hover;
}

.promotion__button:active {
  opacity: 0.7;
}

.promotion__text {
  font-family: "Roboto", "Arial", sans-serif;
  margin: 0;
  letter-spacing: 0.05em;
  line-height: 19px;
}

.promotion__text:first-of-type {
  margin-bottom: 5px;
}

.promotion__text:nth-of-type(2) {
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  .promotion__title-first-part {
    font-size: 16px;
    line-height: 9px;
    margin-bottom: 15px;
  }

  .promotion__title-second-part {
    font-size: 32px;
    line-height: 37px;
    margin-bottom: 24px;
  }

  .promotion__wrapper {
    padding: 130px 17px 167px 18px;
  }

  .promotion__text {
    display: none;
  }

  .promotion {
    background-attachment: scroll;
    margin-bottom: 0;
    background-image: url("../img/backgrounds/promotion-mobile-bg@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/backgrounds/promotion-mobile-bg@2x.jpg");
    }
  }
}
