.questions__title {
  margin: 0 0 23px;
  text-align: center;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.questions {
  background-color: $grey;
  padding: 50px 15px 50px;
}

.questions__ask-button {
  color: $white;
  background-color: $red;
  display: inline-block;
  vertical-align: top;
  width: 275px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.05em;
  padding: 13px 10px 11px;
  border: none;
  margin-left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  outline: none;
}

.questions__ask-button:hover {
  background-color: $red-hover;
}

.questions__ask-button:active {
  background-color: $red;
  opacity: 0.7;
}

.questions__list {
  @include reset-list;
  max-width: 970px;
  width: 100%;
  margin: 0 auto 30px;
  background-color: $white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.questions__number {
  text-transform: uppercase;
  color: $number-grey;
  font-size: 42px;
  line-height: 49px;
  margin-right: 30px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 900;
}

.questions__accordion-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.05em;
}

.questions__button {
  display: flex;
  align-items: center;
  padding: 14px 30px;
  border: none;
  background-color: transparent;
  width: 100%;
  cursor: pointer;
  outline: none;
  border-top: 1px solid $border-grey;

  &--active {
    color: $red;
    padding-bottom: 0;
  }
}

.questions__button:hover {
  color: $red-hover;
}

.questions__text-wrapper {
  margin-left: 111px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.questions__text {
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.05em;
  margin: 0;
  max-width: 782px;
  width: 100%;
  border-top: 1px solid $black;
  padding: 10px 0 33px;
}

@media (max-width: 767px) {
  .questions__ask-button {
    margin: 0;
    transform: none;
    width: 100%;
  }

  .questions__title {
    font-size: 21px;
    line-height: 25px;
    margin-bottom: 34px;
  }

  .questions {
    padding: 38px 4.68% 41px;
  }

  .questions__number {
    font-size: 22px;
    line-height: 26px;
    margin-right: 6px;
  }

  .questions__accordion-text {
    font-size: 16px;
    line-height: 19px;
  }

  .questions__button {
    padding: 18px 14px 15px;
    text-align: left;
    align-items: flex-start;
  }

  .questions__text-wrapper {
    margin-left: 44px;
    margin-right: 7px;
  }

  .questions__text {
    font-size: 14px;
    line-height: 20px;
    border-top: none;
    padding-top: 0;
  }

  .questions__list {
    margin-bottom: 26px;
  }
}
