.reviews__title {
  font-size: 22px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  color: $white;
  margin: 0 0 30px;
}

.reviews {
  padding: 45px 0 36px;
  background-repeat: no-repeat;
  background-color: $yellow;
  background-image: url("../img/backgrounds/reviews-desktop-bg@1x.jpg");
  background-size: cover;
  background-position: center 0;
  margin-bottom: 51px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/backgrounds/reviews-desktop-bg@2x.jpg");
  }
}

.reviews__slider {
  max-width: 970px;
  width: 100%;
  margin: 0 auto 2px;
}

.reviews__text {
  color: $white;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.05em;
  margin: 0;
  padding: 0 23px 17px;
}

.reviews__numbers .slick-active {
  outline: none;
}

.reviews__numbers .slick-current {
  font-size: 36px;
  line-height: 42px;
}

.reviews__single-number {
  color: $white;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  text-align: center;
}

.reviews__numbers {
  width: 400px;
  margin: 0 auto;
}

.reviews__numbers .slick-track {
  display: flex;
  align-items: baseline;
  max-width: 166px;
}

.reviews__author {
  font-size: 20px;
  line-height: 23px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: $white;
  text-align: right;
  margin-right: 30px;
}

.reviews__slider-wrapper {
  position: relative;
  padding-top: 15px;
}

.reviews__slider-wrapper::before,
.reviews__slider-wrapper::after {
  position: absolute;
  content: "";
  width: 24px;
  height: 22px;
  background-repeat: no-repeat;
}

.reviews__slider-wrapper::before {
  background-image: url("../img/icons/icon-up-backtick.svg"), url("../img/icons/icon-up-backtick.svg");
  background-position: 0 0, 12px 0;
  top: 1px;
  left: 2px;
}

.reviews__slider-wrapper::after {
  background-image: url("../img/icons/icon-down-backtick.svg"), url("../img/icons/icon-down-backtick.svg");
  bottom: 22px;
  right: -3px;
  background-position: 0 0, 11px 0;
}
