$black: #000000;
$grey: #f8f6f6;
$white: #ffffff;
$red: #8c0014;
$border-grey: #e2dede;
$table-border-grey: #eae7e7;
$footer-black: #202020;
$footer-grey: #797979;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
